* {
  box-sizing: border-box;
}

html {
  --primary: #77c9d4;
  --primary-lighter: #65b7c2;
  --secondary: #015249;
  --accent: #57BC90;
  --flat: #A5A5AF;
  --gradient: linear-gradient(262.63deg, var(--primary) 0%, var(--accent) 98.24%);
  --vertical-gradient:  linear-gradient(180deg, var(--primary) 0%, var(--accent) 100%);
  --shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primary-color);
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}